body {
  font-family: arial, sans-serif;
  background: red;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}

h1 {
  font-size: 2em;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
}

label p {
  letter-spacing: 5px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
}

button {
  font-size: 16px;
  background-color: #2275D3;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 5px 20px;
  margin-left: 20px;
}
  
#container {
  width: 80vw;
  height: auto;
  background: white;
}

.info {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2%;
  height: 12vh;
  width: 80%;
}

article {
  width: 100%;
  margin: 5% 0;
}

article img {
  width: 80%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 80vh;
}

article:nth-child(even) .content {
  height: 50vh;
}

.article_content_wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.image_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}